body{
    background: url(blur%20background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width:30%;
    padding-left:0px;
    padding-right:0px;
}

.nav-item{
    font-size: 1.6em !important;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}